{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block metaDescription %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container">

        <div id="ajax">

            {% include 'Default/characters.html.twig' with {pagination : pagination, tab : tab} %}

        </div>

    </div>

{% endblock %}

{% block javascripts2 %}
    {{ parent() }}

    {#Pourquoi je dois les doubler +? #}

    <script>
        //pagination

        //suivant
        $("#previous").click(function() {
            //stop bootstrap
            event.preventDefault();

            console.log('previous');

            $.ajax({
                url: "{{ path('previous') }}",
                type: 'POST',
                success: function (msg) {
                    $('#ajax').html(msg);
                }
            });
        })


        //précédent
        $("#next").click(function() {
            //stop bootstrap
            event.preventDefault();

            console.log('next');

            $.ajax({
                url: "{{ path('next', { 'max': tab.data.total }) }}",
                type: 'POST',
                success: function (msg) {
                    $('#ajax').html(msg);
                }
            });
        })

        //ciblé
        $('.page-item').click(function() {
            //stop bootstrap
            event.preventDefault();

            console.log('page');

            //on retire la page principal
            if(!$(this).attr('class').includes('active')){

                var target = $(this).find("a").data('info')

                $.ajax({
                    url: "{{ path('page', {'max': tab.data.total }) }}",
                    data : {'x' : target},
                    type: 'POST',
                    success: function (msg) {
                        $('#ajax').html(msg);
                    }
                });
            }
        })

        //modalPersonnage
        $('.modalPerso').click(function() {

            //todo disable les boutons quand on clic sur un

            var id = $(this).data('id')

            $.ajax({
                url: "{{ path('character') }}",
                data : {'id' : id},
                type: 'POST',
                success: function (msg) {
                    $.confirm({
                        columnClass: 'col-sm-12',
                        title: false,
                        type: 'red',
                        content: msg,
                        draggable: true,
                    });
                }
            });

        })

    </script>
{% endblock %}